body{
    padding: 0;
    margin: 0;    
}

main, footer, header{
    width: 100%;    
    box-sizing: border-box;
}

header{
    height: 50px;
}

h1{
    padding: 0;
    margin: 0;
}

footer{
    height: 200px;
}

nav{
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
}

nav ul{
    list-style-type: none;
    height: 100%;
    padding: 0;
    display: flex;  
    box-sizing: border-box;      
}

nav ul li{
    margin: 0 10px;
}

.select-theme-dark{

    background-color: black;
    border: 1px solid darkslateblue;    
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1;
}

.border-destaque{
    border: solid 1px rgba(0, 0, 0, 0.5);
}